@(form: Form[Application.Comment])

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Commenting!</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/commentPage.css")">
        <script src="@routes.Assets.versioned("javascripts/commentPage.js")" type="text/javascript"></script>
    </head>
    <body>
        @helper.form(routes.Application.createComment) {
            <h1>Commenting</h1>
            
            <label>
                <span>Title:</span>
                <input type="text" name="title" value="@form("postTitle").value" disabled>
            </label>
            
            <label>
                <span>Username:</span>
                <input type="text" name="user" value="@form("user").value" required>
            </label>
            
            <label>
                <span>Message:</span>
                <textarea style="resize:none" maxlength="500000" name="content" required>@form("content").value</textarea>
            </label>
            
            <input type="hidden" name="mainPostID" value="@form("mainPostID").value">
            
            <p>
                <button type="submit">Comment!</button>
            </p>
        }
    </body>
</html>