@(title: String)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/index.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
        <!-- <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")"> -->
        <script src="@routes.Assets.versioned("javascripts/index.js")" type="text/javascript"></script>
    </head>
    <body class="main_body">
        <div id="page_title">
            <h1>Distributed Computing Forum</h1>
        </div>
        
        <div id="new_post">
            <a href="./post" target="_parent"> 
                <button class="new_post_button">New Post</button>
            </a>
        </div>
        
        <div class="all_posts">
            <h2>Posts:</h2>
            @if(Application.posts.size() == 0) {
                <h3>Not A Single Post To Be Found...</h3>
            }
            @for(post <- Application.posts) {
                <p class="post_main">
                    <span class = "post_id">(@post.id)&emsp;</span>
                    <span class = "post_title">@post.title</span>
                    <br>
                    <span class = "post_user_general">by: <span class = "post_user_specific">@post.owner</span></span>
                    <br>
                    <br>
                    <span class = "post_content">"@post.content"</span>
                    <br>
                    <br>
                    <span class = "post_comments_title">Comments:</span>
                    <br>
                    @if(Application.comments.size() == 0) {
                    
                    } else {
                        @for(comment <- Application.comments.get(post.id)) {
                            @if(comment.mainID == post.id) {
                                <span class = "post_comment_full">
                                    <span class = "post_comment_user">@comment.owner: </span>
                                    <span class = "post_comment_content">"@comment.content"</span>
                                    <br/>
                                </span>    
                            }
                        }
                    }
                    <br>
                    <form action="@routes.Application.newCommentClick(post.id)">
                        <input class="new_comment_button" type="submit" value="Add Comment">
                    </form>
                    
                    <br>
                    <br>
                </p>
            }
        </div>
        
    </body>
</html>
