@(title: String)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/index.css")">
        <!-- <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")"> -->
        <script src="@routes.Assets.versioned("javascripts/index.js")" type="text/javascript"></script>
    </head>
    <body>
        <div>
            <h1>Make a Post</h1>
            <form action="/post">
                <input type="submit" value="New Post">
            </form>
        </div>
        <div>
            <br>
            <ul>
                @for(post <- Application.posts) {
                    <li>Title: @post.title &emsp; User: @post.owner</li>
                    <li>&emsp;Content:<br>&emsp;@post.content</li>
                    <br>
                    <li>&emsp;&emsp;Comments:
                        <form action="@routes.Application.newCommentClick(post.id)">
                            <input type="submit" value="Add Comment">
                        </form>
                    </li>
                    <br>
                    <br>
                }
            </ul>
        </div>
    </body>
</html>
