@(form: Form[Application.Post])

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Posting!</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/postPage.css")">
        <script src="@routes.Assets.versioned("javascripts/postPage.js")" type="text/javascript"></script>
    </head>
    <body>
        @helper.form(routes.Application.createPost) {
            <h1>Posting</h1>
            
            <label>
                <span>Title:</span>
                <input type="text" name="title" value="@form("title").value" required>
            </label>
            
            <label>
                <span>Username:</span>
                <input type="text" name="user" value="@form("user").value" required>
            </label>
            
            <label>
                <span>Message:</span>
                <textarea style="resize:none" maxlength="500000" name="content" required>@form("content").value</textarea>
            </label>
            
            <p>
                <button type="submit">Post!</button>
            </p>
        }
    </body>
</html>